*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.vagrant
/.zed
/auth.json
/composer.phar
/database/*.sqlite
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/tools/windows-scheduler-runner/*.exe
/tools/windows-scheduler-runner/*.pdb
/tools/windows-scheduler-runner/bin
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
app/storage/
bootstrap/compiled.php
npm-debug.log
public_html/hot
public_html/storage
yarn-error.log
